.Message{
    width: 70vw;
    height: 70vh;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media only screen and(max-width: 360px) {
    .Message{
        width: 80vw;
        height: 60vh;
      
        
    }
}
@media only screen and(max-width: 480px) {
    .Message{
        width: 90vw;
        height: 50vh;
       
        
    }
}
@media only screen and(max-width: 960px) {
    .Message{
        width: 70vw;
        height: 65vh;
        
        
    }
}