  
    .Roles{
        flex: 100%;
        width: 100vw;
        height: 70vh;
        display: flex;
        background-color: transparent;
        position: absolute;
        padding-top: 0rem;
        top: 16%;
    }
    .Role1{
        font-weight: 100000px;
        flex: 100%;
       text-align: left;
       font-size: 15px;
       width: 100vw;
       margin-top: 2rem;
       }
.Role1 div{
    align-self: left;
    margin: auto;
}
.core{
    list-style-type: circle;

}
.core li{
    display: flex;
    margin: auto;


}

@media only screen and(min-width:900px){
   
    .Roles{
        flex: 50%;
        width: 50vw;
        height: 70vh;
        display: flex;
        position: absolute;
        padding-top: 4rem;
        top: 25%;
    }
    .Role1{
    text-align: left;
    width: 50vw;
    margin-top: 2rem;
    }
    .Role1 div{
        align-self: left;
        margin: auto;
        flex-wrap: wrap;
    }
    .core{
        list-style-type: circle;
    
    }
    .core li{
        display: flex;
        margin: auto;
    
    
    }
}
/* @media only screen and(max-width: 900px){
    .Roles{
        top: 25%;
       }
} */
