.All{
    height: 70vh;
    width: 100vw;
    position: relative;
    display: table-cell;
}
.all{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(to bottom,transparent,transparent,rgb(247, 136, 17))  ,url('/src/Components/images/delivery3.jpg');
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    color: black;
}
.Follow-Us{
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 18%;
    font-size: 50px;
    font-family: Cooper;
    

}
.Follow-Us h4{
    font-size: 50px;
    font-family: 'Modern No. 20';

}
@media only screen and(max-width:325px){
    .All{
        height: 75vh;
        width: 100vw;
        position: relative;
        display: table-cell;
    }
    .Follow-Us{
        width: 80vw;
        position: absolute;
        top: 5%;
        left: 20%;
      
    
    }
    .Follow-Us h4{
        font-size: 20px;
        font-family: 'Modern No. 20';
    
    }
}
@media only screen and(max-width:360px){
    .Follow-Us{
        width: 80vw;
        position: absolute;
        top: 20%;
        left: 20%;
    }
    .Follow-Us h4{
        font-size: 22px;
        font-family: 'Modern No. 20';
    
    }
}
@media only screen and(max-width:578px){
    .Follow-Us{
        width: 70vw;
        position: absolute;
        top: 30%;
        left: 20%;
    
    }
    .Follow-Us h4{
        font-size: 350px;
        font-family: 'Modern No. 20';
    
    }
}

