.Nav{
  width: 100vw;
  height: 12vh;
  background-color: white;
}

.Me2U{
  display: flex;
  position: absolute;
  left: 2%;
  text-align: center;
  line-height: 12vh;
}
.me2u{
  font-size: 50px;
  font-family:Monotpe Corsiva ;
  text-shadow: 5px 6px 8px black;
}
.yellow{
  color:  rgb(255, 196, 0);
  text-shadow: 5px 6px 8px   rgb(255, 196, 0);
  font-size: 100px;
}
.nav-items{
 list-style-type: none;
 display: flex;
 position: absolute;
 right: 2%;
 width: 50vw;
 line-height: 6rem;
}
.nav-item{
font-size: large;
margin: auto;
text-decoration: none;
color: rgb(68, 31, 6);
}
@media only screen and (max-width:320px) {
  .me2u{
    font-size: 30px;
  }
  .nav-items{
    right: 0;
    width: 100vw;
    top: 5%;
   }
   .nav-item{
    font-size: small;
  
   }
}

@media only screen and (max-width:360px) {
  .me2u{
    font-size: 30px;
  }
  .nav-items{
    right: 2%;
    width: 60vw;
    top: 5%;
   }
   .nav-item{
    font-size: small;
  
   }
}
@media only screen and (max-width:480px) {
  .me2u{
    font-size: 35px;
  }
  .nav-items{
    right: 2%;
    width: 60vw;
   }
   .nav-item{
    font-size: small;
  
   }
}
@media only screen and (max-width:768px) {
  .me2u{
    font-size: 42px;
  }
  .nav-items{
    right: 5%;
    width: 50vw;
    
   }
   .nav-item{
    font-size: medium;
  
   }
}
@media only screen and (max-width:992px) {
  .me2u{
    font-size: 47px;
  }
  .nav-items{
    right: 5%;
    width: 50vw;
   }
   .nav-item{
    font-size: medium;
  
   }
}