.How{
    width: 100vw;
    height: max-content;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 5rem;
   background-image: linear-gradient(to bottom,transparent,transparent,rgb(90, 89, 89));
   margin-top: rem;

}
.How1{
    flex: 50%;
    text-align: left;
    margin-top: 10%;
  
}
.Keep{
    text-align: center;
    font-weight: 100000px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: Cooper;
}
.How2{
    flex: 50%;
    background-position: center;
    background-size: cover;
}
.how2{
    width: 100%;
    margin-top: 10%;
}
.Card{
width: 300px;
font-family: System;
margin-top: 2rem;
margin: auto;
font-size: 16px;
}
.Card h3{
 margin: auto;
 text-align: center;
}
.Start-Working{
    width: 100vw;
    height: 6rem;
    display: flex;
 
    color: white;

}
.working{
display: flex;
margin: auto;
}
.Limited{
    width: 100%;
    height: 20vh;
    display: flex;
}
.limited{
    flex: 60%;
    align-self: center;
    text-align: center;
}
.limited-img{
    flex: 40%;
    align-self: center;
}
.guy2{
    width: 200px;
    height: max-content;
    margin: auto;
}

/* RESPONSIVENESS */
@media only screen and (max-width:480px) {
    .How1{
        width: 100vw;
        height: 60vh;
        background-image:url('/src/Components/images/guy5.png');
        background-position: top;
        background-size:cover;
        background-repeat: no-repeat;
        color:  black;
        margin-top: 2rem;
    }
    .How2{
        display: none;
    }
    .Card{
        width: 320px;
        font-family: System;
        margin-top: 2rem;
        margin: auto;
        font-size: 12px;
        margin-top: 2rem;
        }
        .guy2{
            width: 100px;
            height: max-content;
            margin: auto;
        }
        .limited{
            font-size: 12px;
        }
  }
  

@media only screen and(max-width:360px){
  
    .limited{
        flex: 60%;
        align-self: center;
        text-align: center;
        font-size: 10px;
    }
    .limited-img{
        flex: 40%;
        align-self: center;
    }
    .guy2{
        width: 100px;
        height: max-content;
        margin: auto;
    }
}
@media only screen and(max-width:320px){
  
    .limited{
        flex: 60%;
        align-self: center;
        text-align: center;
        font-size: 8px;
    }
    .limited-img{
        flex: 40%;
        align-self: center;
    }
    .guy2{
        width: 80px;
        height: max-content;
        margin: auto;
    }
}