.Carousel{
    width: 100vw;
    height: 25vh;
    background-color: white;
    display: flex;
    margin-bottom: 1rem;
}
.carousel{
    margin: auto;
}
.carousel-img{
    width: 15vw;
    height: 10%;
    border-radius:90%;
    box-shadow: black 3px 3px 5px;
    margin: auto;
}
.jumbotron{
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    text-align: center;
    display: table-cell;
    margin-bottom: 2rem;
}
.h6{
    vertical-align: middle;
    line-height: 10vh;
    font-family: Monotype Corsiva;
    font-size: 30px;
    font-weight: 10000px;
    color: black;
    background-color:rgb(255, 187, 0) ;
}


@media only screen and(max-width:480px){
  .h6{
    vertical-align: middle;
    line-height: 10vh;
    
    font-size: 20px;
   
}
}