.Carousel{
    width: 100vw;
    height: 25vh;
    background-color: white;
    display: flex;
    margin-bottom: 1rem;
}
.carousel{
    margin: auto;
}
.carousel-img{
    width: 20vw;
    height: 10%;
    border-radius: 100%;
    box-shadow: rgb(0, 115, 255) 3px 3px 5px;
    margin: auto;
}
.jumbotron{
    width: 100vw;
    height: 10vh;
    background-color:  rgb(255, 196, 0);
    text-align: center;
    display: table-cell;
}
.h6{
    vertical-align: middle;
    line-height: 10vh;
    font-family: Monotype Corsiva;
    font-size: 30px;
    color: rgb(44, 20, 20);
}


@media only screen and(max-width:480px){
  .h6{
    vertical-align: middle;
    line-height: 10vh;
    
    font-size: 20px;
   
}
}